<div class="card mt-5 mb-5">
  <a href="/posts/<%= url %>">
    <div class="card-body">
      <h5 class="card-title"><%= title %></h5>
      <p class="card-subtitle mb-2">
        <%= published.toLocaleString() %>
      </p>
      <p class="card-text">
        <%= content %>
      </p>
    </div>
  </a>
</div>